
/* Set up box-sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Clearfix
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    contenteditable attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that are clearfixed.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.cf:before,
.cf:after {
   content: " "; /* 1 */
   display: table; /* 2 */
}

.cf:after {
   clear: both;
}
/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.cf {
   *zoom: 1;
}

body { 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkslategray;
}

header {
  font-size: 20px;
  background-color: aquamarine;
  width: 100%;
}

nav{
  background-color: blueviolet;
  width: 100%;
}

.photo-array {

}

.bottom-links {

}

footer {
  background-color: dimgray;
  size: 8pt;
  color: rgb(189, 186, 186);
}