
/* Set up box-sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("../images/background_1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: rgb(184, 184, 185);
}

.logo {
  float: left;
  width: 30%;
  max-width: 150px;
  min-width: 150px;
  margin-top: -4px;
  margin-left: 8px;
  margin-right: 8px;
}


.h_welcome {
  color: antiquewhite;
  font-size: 2vw;
  height: 30vw;
}

@media only screen and (max-width: 790px) {
  .h_welcome {
    font-size: 15px;
  }
}

nav{
  background-color: blueviolet;
  width: 100%;
}

footer {
  background-color: dimgray;
  size: 8pt;
  color: rgb(189, 186, 186);
}